.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin-left: 15%;
}

.about-container > div > h1 {
    font-size: x-large;
}

article {
    text-align: center;
}