.main-prod-container {
  padding-bottom: 2em;
  padding-top: 2em;
}
.main-prod-container div img {
  width: 100%;
  border-radius: 20px;
  opacity: 50%;
}
.main-prod-container div img:hover {
  opacity: 100%;
  transition: opacity 1s;
}
.main-prod-container div p {
  font-size: 1em;
  font-weight: 300;
  margin-top: 0.5em;
  cursor: default;
}

b {
  cursor: default;
}

.prod-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
